@model IEnumerable<SweetStack.DomainObjects.TestInstance>

@{
    ViewBag.Title = "Index";
}

<h2>Test Runs</h2>
@if (Model.Any(t => t.Completed == false))
{
    <div class="alert alert-warning">
        Some tests are still running <button id="reload" class="btn btn-small btn-info">Refresh</button> 
    </div>
}
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Started
        </th>
        <th>
            Ended
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.SweetTest.Name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Started)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ended)
            </td>
            <td>
                @if (item.Completed)
                {
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                }
                else{
                 <span>Running...</span>   
                }
            </td>
        </tr>
    }

</table>
<script>
    $(document).ready(function () {
        $('#reload').click(function (e) {
            window.location.href = window.location.href;
        });
    });
</script>