@model SweetStack.DomainObjects.SweetTest

@{
    ViewBag.Title = "Delete";
}

<h1 class="sweetTitle">Delete SweetTest</h1>

<h3>Are you sure you want to delete <span class="sweetTitle">@Html.DisplayFor(model => model.Name)</span>?</h3>
<p class="large alert alert-danger">This will also delete the test runs for this test.</p>
<pre>
@Html.Raw(Model.SweetStackCode)
</pre>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-2">
            @Html.ActionLink("No", "Index", "Tests", new { @class = "btn btn-success" })
        </div>
        <div class="col-md-2 col-md-offset-10">
            <input type="submit" value="Yes" class="btn btn-danger btn-xs pull-right" />
        </div>
    </div>
}
