<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
    <script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/bower_components/lightbox2/js/lightbox.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/bower_components/lightbox2/css/lightbox.css" />
</head>
<body class="container-fluid">
    <ul>
        <li>@Html.ActionLink("Tests", "Index", new { controller = "Tests" })</li>
        <li>@Html.ActionLink("Test Runs", "Index", new { controller = "Runs" })</li>
    </ul>
    @RenderBody()

</body>
</html>
